BODY { 
background: #AAAAAA;
}
.tile1, .tile2, .tile3, .tile4, .tile5, .tile6, .tile7, .tile8, .tile9 {
  display: table-cell;
  width: 120px;
  height: 120px;
  border: 1px solid white;
  background: url(/images/chicken.png); 
  cursor: pointer;
}
.answer {
	grid-column-end: span 1;
	width: 100%;
	justify-self: flex-end;
	background-size: 100%;
	box-shadow:
		inset 0 0 0 .2em hsl(360, 90%, 26%);
}
.puzzle {
	background: -webkit-gradient(linear, left top, left bottom, from(hsl(360, 98%, 36%)), to(hsl(360, 92%, 42%))), url(https://www.toptal.com/designers/subtlepatterns/patterns/white_plaster.png);
	background: linear-gradient(hsl(360, 98%, 36%), hsl(360, 92%, 42%)), url(https://www.toptal.com/designers/subtlepatterns/patterns/white_plaster.png);
	background-blend-mode: multiply;
	width: 100vw;
	max-width: 370px;
	box-shadow:
		0 .25em 1em 0 rgba(0,0,0,0.30),
		inset .25em .25em 1em 0 hsl(360, 88%, 72%),
		inset .15em .15em .2em 0 hsl(360, 88%, 72%),
		inset -.25em -.25em 1em 0 hsl(360, 88%, 22%),
		inset -.15em -.15em .2em 0 hsl(360, 88%, 2%);
	border-radius: 1.2em;
	padding: 1.4em;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: .5em;
	position: relative;
	overflow: hidden;
}
.grid {
	border: 4px solid hsl(360, 98%, 12%);
	grid-column-end: span 3;
	display: grid;
	grid-gap: 1px;
	grid-template-areas:
		"A B C"
		"D E F"
		"G H I";
	background: hsl(360, 98%, 12%);
	box-shadow:
		inset 0 0 2em 0 hsl(360, 98%, 2%);
}
.answer {
	height: 0;
	padding-bottom: 100%;
	grid-area: var(--area, auto);
	border: none;
	background: url(images/chicken.png);
	background-size: 98%;
}
h2 {
	margin: 0;
	font-size: 1.8em;
}
.heading span {
	font-size: 1em;
	line-height: 2.4em;
}

.heading {
	align-self: center;
	grid-column-end: span 2;
	text-align: center;
	text-shadow: 0 -1px 0 hsl(360, 90%, 26%);
	-webkit-transform: skew(-10deg) rotate(-6deg);
	        transform: skew(-10deg) rotate(-6deg);
}

.overlay-text {
    display: none;
    position:fixed;
    top: 0;
    left:0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    z-index: 100;
    color: white;
    font-family: verdana,serif;
}
.overlay-text-small {
    font-size: .3em;
}
.overlay-text.visible{
    display:flex;
    flex-direction: column;
    animation: overlay-grow 500ms forwards;
}
@keyframes overlay-grow {
    from { 
        background-color: rgba(0, 0, 0, 0);
        font-size: 0;
    }
    to {
        background-color: rgba(0, 0, 0, .8);
        font-size: 5em;
    }
}

.game-info {
    font-family: verdana,serif;
    color: black;
    font-size: 2em;
    text-align: center;
}
@media (max-width: 600px) {
    .game-info-container{
        flex-direction: column;
        align-items: center;
    }
}

.tile1 {background-position: left top;}
.tile2 {background-position: center top;}
.tile3 {background-position: right top;}
.tile4 {background-position: left center;}
.tile5 {background-position: center center;}
.tile6 {background-position: right center;}
.tile7 {background-position: left bottom;}
.tile8 {background-position: center bottom;}
.tile9 {background: white; cursor: default;}
